@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   



}

:root {
    --black: black;
    --white: white;

}
body{
    overflow-x: hidden;
}
.fa-face-smile-wink{
    color: yellow;
}


.header {

    position: fixed;
    top: 0;
    left: 0;
    padding: 2% 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(14, 14, 14);
    
}
.sticky{
    background-color:rgba(255, 255, 255, 0.943);
    box-shadow: none;
  border-bottom: 2px solid black;
}

.nav-logo {
    font-size: 40px;
    color: var(--black);
    letter-spacing: 1px;
    font-family: 'Great Vibes', cursive;


}

.nav-logo:hover {
    color: rgb(52, 179, 247);
}

.navigationbar a {
    font-size: 15px;
    color: rgb(17, 16, 16);
    font-weight: lighter;
    margin-left: 40px;

    transition: .1s;

}


.navigationbar a:hover {
    color: rgb(52, 179, 247);
    border-bottom: 3px solid rgb(52, 179, 247);

}

.btn-hide {
    display: none;
    background-color: rgb(52, 179, 247);
    font-size: larger;
}

.navigationbar a.active {
    color: rgb(52, 179, 247);
}

.mini-navigationbar {
    background-color: rgb(52, 179, 247);
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}


.menu {
    display: none;
    transition: 7s;
}




.home {

    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: lighter;
    padding: 15% 9% 2rem;

   
 


}

.first {
    width: 60%;
    height: 60vh;
    margin-top: -2%;

   


}

.fa-arrow-down {
    margin-left: 4px;
}

.fa-flip {
    font-size: x-large;

}



.contain {
    max-width: 70rem;
}

.contain h1 {
    line-height: 1;
    font-size: 50px;
    margin-bottom: 0;
}

.contain .animated  .animate {
    font-size: 40px;
    font-weight: 1000;
    color: transparent;
    -webkit-text-stroke: 0.1px rgb(52, 179, 247);

}


.contain p {
    font-size: 15px;
    color: black;
    margin: 2% 0 3%;

}

.bouton {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: 5vh;

}

.bouton .butn1 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: black;
    background-color: transparent;
    border: 2.5px solid rgb(52, 179, 247);
    border-radius: 9px;
}

.bouton .butn2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: black;
    background-color: transparent;
    border: 2.5px solid rgb(52, 179, 247);
    border-radius: 9px;
}

.butn2 {
    width: 45%;
}

.bouton .butn1::before {
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(52, 179, 247);
    z-index: -1;
    transition: .2s;
}

.bouton .butn1:hover::before {
    width: 100%;
}

.bouton .butn2::before {
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 179, 247);
    z-index: -1;
    transition: .2s;
}

.bouton .butn2:hover::before {
    width: 0;
}

.social-reseaux {

    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

.fa-facebook {
    color: black;
}

.fa-facebook:hover {
    color: blue;
}

.fa-instagram {
    color: black;
}

.fa-instagram:hover {
    color: rgb(248, 48, 48);
}

.fa-whatsapp {
    color: black;

}

.fa-whatsapp:hover {
    color: rgb(59, 246, 59);
}

.fa-twitter {
    color: black;
}

.fa-twitter:hover {
    color: rgb(52, 179, 247);
}

.home-scroll {
    margin-top: 20%;

    width: 30%;
}

.scroll-button {
    position: relative;
    color: black;


}

.scroll-button:hover {
    color: rgb(52, 179, 247);
}


.social-reseaux i {
    list-style: none;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 16px -6px,
        0px 0px 16px -6px;
    transition: .3S;

}

.social-reseaux i:hover {
    font-size: x-large;

}
.seconde{
    margin-top: -7%;
    margin-right: -3%;
   text-align: center;

}
.seconde 
img{
border-radius: 10px;


}

.about {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.Intro {
    color: rgb(34, 34, 34);
    font-size: 35px;

    margin-bottom: -1%;
}

.section_title {
    padding: 0 auto;
}

.Me {

    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
}

.about_me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
}

.Publicity {
    width: 98%;
    color: black;
}

.about_img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20PX;
}

.about_img .circle{
    position: absolute;
    top:120%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 11%;
    height: 21.5%;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent ;
    border-left: 2px solid rgb(52, 179, 247) ;
    border-right:  2px solid rgb(52, 179, 247);
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    background-color: rgb(184, 243, 243);
    color: black;
    border-radius: 5px;
    height: 12vh;

}

.support {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    background-color: rgb(184, 243, 243);
    color: black;
    border-radius: 5px;
    height: 12vh;
}

.completed {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    background-color: rgb(184, 243, 243);
    color: black;
    border-radius: 5px;
    height: 12vh;


}

.adresse {
    color: black;
     margin-top: -5%;
     width: auto;
    height: 12vh;
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-column-gap:10px;
    grid-row-gap: 10px;

   
   
}


.fa-paper-plane {
    margin-right: 3%;
}
.fa-birthday-cake {
    margin-right: 3%;
}
.fa-cake-candles {
    margin-right: 3%;
}
.fa-user{
    margin-right: 3%;
}
.fa-flag {
    margin-right: 3%;
}
.fa-language  {
    margin-right: 3%;
}

.fa-phone {
    margin-right: 3%;
}

.fa-envelope {
    margin-right: 3%;
}

.skills {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 13%;



}

.skill-head {
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
    color: black;
    margin-bottom: 1%;
}

.skill-head p {
    color: black;
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 15px;
}

.skill-main .skill-bar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.skill-bar .bar {
    width: 100%;
    height: 10px;
    position: relative;
    background-color: rgb(220, 216, 216);
    border-radius: 25px;
    margin-top: 5px;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: rgb(52, 179, 247);
    border-radius: 25px;
}

.skill-bar .info .percentage {
    font-weight: bold;
}

.skill-bar .bar .html {
    width: 90%;
    animation: html 7s;
}
.animated .skill-bar .bar span {
    animation: progress 2s forwards;
  }
  
  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  

.services {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  
}.rows{

width: 70%;
margin: 0 auto;
height:auto;

justify-content: center;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
grid-gap: 20px;
}

.services h2 {
    text-align: center;
    margin-bottom: 40px;
    position: relative;

}

.service {
    height: 40vh;
    text-align: center;
    padding: 23px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
      display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(220, 236, 250);
  

    
  
}

.service h4 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 8px;
}

.service i {
    color: rgb(52, 179, 247);
    font-size: 20px;
}
.service p{
    margin: 0 20px;
}


.service:hover {
    background-color: rgb(52, 179, 247);
    color: white;


}

.service:hover h4 {
    color: white;
}

.service:hover p {
    color: white;
}

.service:hover i {
    color: white;
}
.about_me #count{
    font-size: x-large;
}
.about_me #count2{
    font-size: x-large;
}
.about_me #count3{
    font-size: x-large;
}
.about_me #count4{
    font-size: x-large;
}
.about_me #count5{
    font-size: x-large;
}
.education{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
  
}
.inside_section{
  
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    
  

}
.experiences, .educations{
    
    margin-top: 2%;
}
.title_ed{
  
    margin: 0 0 1.5rem 3rem;
    font-size: 2.5rem;

}
.parcours{
  
    border-left: 2px solid black;
    position: relative;
    padding-left: 2rem;
    
    border-radius: 1px
 
}


.hello{
    position: relative;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1.5rem;
}
.hello::before{
    content: '';
    position: absolute;
    top: 0;
    left: -2.9rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(52, 179, 247);
    border-radius: 50%;
    
}

.parcours .year{
    font-size: 1.5rem;
    color: rgb(52, 179, 247);
}
.parcours h6{
    font-size: 2rem;
    color: black;
}
.parcours p{
    font-size: 1.5rem;
    padding-top: .5rem;
}
.box-item{
margin-bottom: 30px;
}
.box-item img{
    max-width: 100%;
    height: 100%;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
} 
.mix{
    text-align: center;
 }
.hi{
    padding: 0;
    margin: 0;
    list-style: none;
   }
 .world{
   
  
    cursor: pointer;
    margin: 35px 4px;
    font-size: 15px;
    padding: 6px 30px;
    display: inline-block;
    color: black;
    
     
   }
   .world:hover{
    border: 1px solid rgb(52, 179, 247);
    background-color:rgb(52, 179, 247);
    border-radius: 10px;
    color: white;
   }
   .world.mixitup-control-active{
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(52, 179, 247);
  background-color:rgb(52, 179, 247);
   }
   .testimonial{
    width: 100%;
    height: 104vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50PX 0;
  
   }
   .testimonials{
    position: relative;
    width: 100%;
    max-width: 900px;
    background-color: white;
    overflow: hidden;
    height:70%;
   
   }
   .testimonials .image{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
   }
   .testimonials .slide{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 77%;
row-gap: 30px;

   }
   .slide p{
    padding: 0 160px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
   }
   .slide .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6vh;
   
    justify-content: space-between;
   }
   .detail .name{
    font-size: 14px;
    font-weight: 600;
    color: black;
   }
   .detail .job{
    font-size: 12px;
    font-weight: 400;
    color: black;
   }
   .big{
    width:40px ;
    height: 40px;
    border-radius: 50%;
   }
 

   .contact{
    height:auto;
    width: 100%;
    margin-bottom: 1%;

   }

 .contacts{
    display: flex;
    justify-content: center;
}
.contact-info-item{
    flex: 0 0 25%;
padding:15px;
max-width: 25%;
text-align: center;
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon .fa{

color: rgb(52, 179, 247);
}
.contact .contact-info-item h6{
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact form{
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
}
.contact-info-item i{
    color: rgb(52, 179, 247);
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,.contact form .input-textarea textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size:1.6rem;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgb(52, 179, 247);

}
.contact form .input-box .input-field input::placeholder,.contact form .input-textarea textarea::placeholder{
    color: black;


}
.contact form .input-textarea{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
    
}
.contact form textarea{
resize: none;
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:rgba(226, 216, 216, 0.166);
    border-radius: 10px;
    z-index: 1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .input-textarea textarea:focus~.focus,
.contact form .input-textarea textarea:valid~.focus{
    width: 100%;
}
.contact form .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 90%;
    color: black;
    background-color: transparent;
    border: 2.5px solid rgb(52, 179, 247);
    border-radius: 9px;
    font-size: 15px
}
.btn::before {
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(52, 179, 247);
    z-index: -1;
    transition: .2s;
}

.btn:hover::before {
    width: 100%;
}
.fa-location-dot{
    margin-right: 3%;
}
.fa-globe{
    margin-right: 3%;
}


@keyframes html {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

.skill-bar .bar .css {
    width: 80%;
    animation: css 7s;
}

@keyframes css {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.skill-bar .bar .express {
    width: 70%;
    animation: express 7s;
}

@keyframes express {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.skill-bar .bar .javascript {
    width: 85%;
    animation: javascript 7s;
}

@keyframes javascript {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

.skill-bar .bar .node {
    width: 85%;
    animation: node 7s;
}

@keyframes node {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

.skill-bar .bar .mongo {
    width: 40%;
    animation: mongo 7s;
}

@keyframes mongo {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}
.footer{
    background-color: rgb(18, 16, 16);
    width: 100%;
}

.footer .container .col-md-3 h4, .footer .container .col-md-3 ul li i{
    color: white;
    font-size: 15px;
}
.footer .container .col-md-4 h4,.footer .container .col-md-4 p,.footer .container .col-md-4 a{
   color: white; 
   font-size: 15px;
   font-weight: lighter;
}


.footer .col-md-5 span{
    color: rgb(52, 179, 247);
}
.footer .col-md-5 P {
    font-size: 15px;
}

